* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  color: #27272a;
  font-weight: 400;
  overflow: hidden;
  font-family: "Montserrat Alternates", sans-serif;
  background-color: #f5f5fa;
  position: relative;
}

img {
  width: 100%;
}

/* MODAL WINDOW */
.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.6rem;
  top: 50%;
  left: 50%;
  z-index: 1000;
  position: fixed;
  max-width: 60rem;
  min-height: 30rem;
  padding: 0rem 6rem;
  border-radius: 20px;
  transition: all 0.5s;
  background-color: #f3f3f3;
  transform: translate(-50%, -50%);
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  animation: openModall 0.5s ease-out forwards;
}

.modal2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  top: 50%;
  left: 50%;
  z-index: 1000;
  position: fixed;
  max-width: 60rem;
  padding: 4rem 4rem;
  border-radius: 20px;
  background-color: #f3f3f3;
  transform: translate(-50%, -50%);
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  animation: openModall 0.5s ease-in forwards;
}

@keyframes openModall {
  0% {
    opacity: 0;
    transform: translate(-50%, -100%);
  }

  50% {
    opacity: 1;
    transform: translate(-50%, -20%);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}

.highlight {
  position: relative;
}

.headerTwo {
  transform: translateX(0rem) !important;
  margin-bottom: 1rem;
}

.highlight::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
  transform: scale(1.07, 1.05) skewX(-15deg);
  background-image: linear-gradient(to top left, #f70606, #f3dc2f);
}

.modal__header {
  font-size: 2.4rem;
  line-height: 3.6rem;
  transform: translateX(2.4rem);
}

.btn--close-modal {
  font-family: inherit;
  color: #3f3f46;
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  font-size: 3.8rem;
  cursor: pointer;
  border: none;
  background: none;
}

.PhoneNumInput {
  border: none;
  cursor: pointer;
  font-size: 2rem;
  padding: 1rem 4rem;
  padding-left: 1.8rem;
  border-radius: 25px;
  transition: all 0.5s;
  background-color: #fff;
  box-shadow: 0 5px 15px rgb(0 0 0 / 10%);
}

.PhoneNumInput::placeholder {
  font-family: inherit;
  font-size: 1.8rem !important;
}

.PhoneNumInput:focus {
  outline: none;
  box-shadow: 0 0 0 8px rgba(88, 86, 86, 0.103);
}

.btnSendTele {
  border: none;
  font-family: inherit;
  border-radius: 20px;
  font-weight: 500;
  font-size: 2rem;
  color: #fafafa;
  background-image: linear-gradient(to top left, #f7060699, #f3dc2f);
  transition: all 0.5s;
  padding: 1rem 6rem;
  cursor: pointer;
}

.btnSendTele:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 0 0 8px rgba(132, 60, 60, 0.096),
    0px 8px 18px rgba(251, 193, 20, 0.403);
}

.btnCloseModals {
  border: none;
  font-family: inherit;
  border-radius: 20px;
  font-weight: 500;
  font-size: 2rem;
  color: #fafafa;
  background-image: linear-gradient(to top left, #f7060699, #f3dc2f);
  padding: 1rem 6rem;
  cursor: pointer;
}

.hidden {
  pointer-events: none;
  visibility: hidden;
  display: none;
  opacity: 0;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  display: flex;
  height: 9.6rem;
  padding: 0 12rem;
  align-items: center;
  margin-bottom: 4rem;
  background-color: #18181b;
  justify-content: space-between;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
}

.main-nav-list {
  gap: 4.8rem;
  display: flex;
  list-style: none;
  align-items: center;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  font-family: inherit;
  text-decoration: none;
  color: #e4e4e4;
  font-weight: 700;
  font-size: 1.6rem;
  transition: all 0.3s;
}

.navLinkDeskT:link,
.navLinkDeskT:visited {
  display: inline-block;
  font-family: inherit;
  text-decoration: none;
  color: #e4e4e4;
  font-weight: 700;
  font-size: 1.6rem;
  transition: all 0.3s;
}

.navLinkDeskT:hover,
.navLinkDeskT:active {
  color: #6b7280;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #6b7280;
}

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  height: 8vw;
  width: 8vw;
  color: #e4e4e4;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

.heroBtnPhone {
  opacity: 0;
  display: none;
  visibility: hidden;
  pointer-events: none;
}

.navLinkPhoneT {
  opacity: 0;
  display: none;
  visibility: hidden;
  pointer-events: none;
}

.logoArea {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 1.2rem;
  z-index: 1;
}

.logoSVG {
  transition: all 2s;
  width: unset;
}

.logoSVG:hover {
  transform: rotate(-900deg);
}

.logoText {
  font-weight: 700;
  font-size: 2rem;
  color: #fafafa;
  text-decoration: none;
}

.sectionHero {
  padding-top: 15rem;
  background-color: #f7cf47;
  position: relative;
  z-index: 0;
}

.hero {
  grid-template-columns: 43fr 50fr;
  background-color: #f7cf47;
  align-items: center;
  padding: 0 12rem;
  margin: 0 auto;
  display: grid;
  gap: 2rem;
}

.heroContent {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.heroHeading {
  font-weight: 700;
  font-size: 6rem;
  color: #e52323;
}

.heroText {
  font-weight: 500;
  font-size: 1.8rem;
  color: #27272a;
  line-height: 3.2rem;
}

.heroBtnArea {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-family: inherit;
  border: none;
  cursor: pointer;
  font-weight: 800;
  font-size: 1.7rem;
  transition: all 0.5s;
  margin-bottom: 3rem;
  border-radius: 30px;
  padding: 1.8rem 5rem;
}

.heroBtnOne:link,
.heroBtnOne:visited {
  display: inline-block;
  text-decoration: none;
  font-family: inherit;
  border: none;
  cursor: pointer;
  font-weight: 800;
  font-size: 1.7rem;
  transition: all 0.5s;
  margin-bottom: 3rem;
  border-radius: 30px;
  padding: 1.8rem 5rem;
  color: #fff;
  background-color: #dc2626;
  box-shadow: 0px 8px 18px rgba(48, 45, 46, 0.132);
}

.heroBtnOne:hover,
.heroBtnOne:active {
  transform: translateY(-0.3rem);
  box-shadow: 0 0 0 8px rgba(132, 60, 60, 0.096), 0px 8px 18px rgb(251, 20, 20);
}

.heroBtnTwo:link,
.heroBtnTwo:visited {
  position: relative;
  color: #3f3f46;
  background-color: #fefbfb;
  box-shadow: 0px 8px 18px rgba(48, 45, 46, 0.132);
}

.heroBtnTwo:hover,
.heroBtnTwo:active {
  background-color: #fcd34d;

  box-shadow: inset 0 0 0 3px #fff, 0px 8px 18px rgba(48, 45, 46, 0.132);
}

.arrowBtn {
  font-family: "Courier New", Courier, monospace;
  font-size: 3rem;
  position: absolute;
  transform: translate(50%, 50%);
  top: -10%;
  right: 15%;
}

.featuresArea {
  margin-top: 6rem;
  padding: 7rem 12rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000 !important;
  gap: 7rem;
  z-index: 10;
}

.wholeFeature {
  gap: 2rem;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50rem;
  height: 17rem;
}

.featureTextArea {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.featureText {
  font-weight: 400;
  font-size: 1.6rem;
  color: #fafafa;
}

.checkmarkIcons {
  color: #b91c1c;
  width: 3rem;
  height: 3rem;
  position: absolute;
}

.checkmarkIcons2 {
  color: #b91c1c;
  width: 3rem;
  height: 3rem;
  position: absolute;
  transform: translateY(-1.4rem);
}

.featureIcon {
  width: unset !important;
}

.iconBack {
  box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
  background-color: #ffe36a;
  border-radius: 100%;
  width: 7.2rem;
  height: 7.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconBackBack {
  background-color: #433702;
  box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
  border-radius: 100%;
  width: 9rem;
  height: 9rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.secondSection {
  overflow: hidden;
  background-color: #fffbea;
}

.qrImage {
  margin-bottom: -1rem;
  width: 100%;
}

.sectionTwoContent {
  grid-template-columns: 55fr 45fr;
  display: grid;
}

.wholeTextContet {
  display: flex;
  flex-direction: column;
  padding: 13.5rem 6rem 7rem 13rem;
  gap: 3.5rem;
  order: -1;
}

.section2HeadingArea {
  display: flex;
  flex-direction: column;
}

.section2Heading {
  color: #b91c1c;
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 5rem;
  width: 85%;
}

.section2Text {
  color: #272727;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 3.2rem;
}

.section2ListArea {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
}

.SecWholeList {
  gap: 1.8rem;
  display: flex;
  align-items: center;
  position: relative;
}

.secendSecIconMark {
  width: 2.6rem;
  height: 2.6rem;
  color: #dc2626;
}

.secendSecIconMarkMove {
  width: 5.6rem;
  height: 5.6rem;
  color: #dc2626;
  transform: translateY(-2.8rem);
}

.secListText {
  color: #272727;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 3.2rem;
  margin-left: 4.2rem;
}

/***/

.section3BoxImg {
  background-color: #000;
  padding: 6rem 35rem 0rem 13rem;
  z-index: -1;
  position: relative;
}

.hotelCard {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  transform: translate(180%, -200%);
  border-radius: 10px;
  background-color: #dc2626;
  box-shadow: 0px 4px 15px -2px rgba(50, 50, 71, 0.15);
  width: 50rem;
  height: 20.5rem;
  padding: 12rem 5rem;
}

.hotelHeading {
  font-weight: 600;
  font-size: 3rem;
  line-height: 3.4rem;
  color: #fafafa;
}

.hotelText {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.8rem;
  color: #fafafa;
}

.hotelImg {
  margin-bottom: -1rem;
}

/**/

.forthSection {
  padding-top: 10rem;
  background-color: #f7cf47;
}

.boxOne {
  background-color: #f7cf47;
}

.section4HeadingArea {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0rem 0rem 0rem 12.5rem;
}

.section4Heading {
  color: #e52323;
  font-weight: 700;
  font-size: 4.4rem;
  line-height: 5.5rem;
}

.forthSecContent {
  gap: 5rem;
  display: grid;
  padding: 5rem 10rem;
  align-items: center;
  justify-content: center;
  grid-template-columns: 50fr 50fr;
}

.img1 {
  width: 90% !important;
}

.box2 {
  padding: 12rem 10rem;
  gap: 0rem !important;
  background-color: #000;
  grid-template-columns: 40fr 60fr;
}

.box3 {
  padding: 10rem 12rem;
  gap: 0rem !important;
  grid-template-columns: 55fr 45fr;
}

.boxImg3 {
  transform: translateX(-18rem);
}

.img3 {
  width: 110% !important;
}

.box4 {
  grid-template-columns: 35fr 65fr;
  padding: 14rem 8rem;
  background-color: #000;
  gap: 0rem !important;
}

.headigBoxTwo {
  color: #fff !important;
}
.listBoxTwo {
  color: #fff !important;
}

.boxImg4 {
  transform: translateX(-14rem);
}

.forthSecImg {
  width: 100%;
}

.forthSecTextBox {
  gap: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.middel {
  justify-content: center;
}

.forthBoxHeading {
  font-weight: 700;
  font-size: 4rem;
}

.forthSecList {
  gap: 1.8rem;
  display: flex;
  margin-left: 2rem;
  flex-direction: column;
  align-items: flex-start;
}

.forthSecListWidth1 {
  width: 80% !important;
}

.forthWholeList {
  color: #27272a;
  font-weight: 600;
  font-size: 1.7rem;
  line-height: 3rem;
}

.bigBoxForth {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0rem !important;
}

.fifthSection {
  min-height: 55vw;
  background-color: #f7cf47;
}

.fifthContentBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3.4rem;
  padding: 5rem 20rem;
  position: relative;
}

.fifthHeadingArea {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headingFifth {
  text-align: center;
  color: #3d3a3a;
  font-weight: 700;
  font-size: 4.5rem;
}

.fifthText {
  color: #3f3f46;
  text-align: center;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 3.4rem;
}

.section5Img {
  width: 75% !important;
}

.fifthImgBox {
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headigBoxTwo {
  color: #fff !important;
}
.listBoxTwo {
  color: #fff !important;
}

/*****/
.siteFooter {
  z-index: 1;
  min-height: 23vw;
  background-color: #202021;
  box-shadow: 0px 5px 15px 9px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5rem;
}

.footerContainer {
  display: flex;
  align-items: flex-start;
  padding: 6rem 0rem 0rem 0rem;
  justify-content: space-evenly;
}

.footerLinks {
  display: grid;
  row-gap: 2rem;
  list-style: none;
  column-gap: 5rem;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.copyrightFotter {
  display: flex;
  margin: 0 auto;
  width: 90%;
  align-items: center;
  justify-content: center;
  gap: 40rem;
  padding: 2rem 0rem 3rem 0rem;
  border-top: 1px solid #39393988;
}

.companyInfoBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.logoAreaFooter {
  transform: translateY(-1rem);
}

.logoTextFooter {
  color: #fafafa;
}

.wholeInfo {
  display: flex;
  align-items: center;
  gap: 1.4rem;
}

.footerIcons {
  width: unset !important;
  cursor: pointer;
}

.infoText {
  color: #fafafa;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.4rem;
  text-decoration: none;
}

.infoTextFooter {
  color: #fafafa;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.4rem;
  text-decoration: none;
}

.foterLink {
  text-decoration: none;
  font-size: 1.5rem !important;
  color: #fafafa !important;
  font-weight: 400 !important;
  transition: all 0.5s;
  cursor: pointer !important;
}

.foterLinkBig {
  font-weight: 600;
  text-decoration: none;
  transition: all 0.5s;
  font-size: 1.65rem;
  color: #fafafa;
}

.foterLink:hover {
  color: #a1a1aa;
}

.copyrightText {
  font-size: 1.4rem;
  font-weight: 400;
  color: #fafafa;
  letter-spacing: 0.1rem;
  transform: translateX(-20rem);
}

.socialIconsBox {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.socialIcon {
  width: unset !important;
  cursor: pointer;
  transition: all 0.3s;
}

.socialIcon:hover {
  transform: translateY(-3px);
}

/**/

.sectionProductPhone {
  display: none;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}

.sectionProduct {
  padding: 10rem 12rem;
  background-color: #fffbea;
}

.productHeading {
  color: #dc2626;
  font-weight: 700;
  font-size: 4.4rem;
}

.productChoicesArea {
  padding: 3.6rem 0rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wholeChose {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.choseInputs {
  width: 1.7vw;
  height: 1.7vw;
  cursor: pointer;
  transition: all 0.5s;
}

.choseInputs:checked {
  accent-color: #f43f5de5;
}

.choseInputs:hover {
  accent-color: #f43f5de5;
}

.choseTextArea {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.choseHeading {
  color: #27272a;
  font-weight: 700;
  font-size: 2.4rem;
}

.choseText {
  color: #27272a;
  font-weight: 500;
  font-size: 16px;
}

.productBuyArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  transform: translateY(0.6rem);
}

.saleText {
  font-weight: 600;
  font-size: 1.7rem;
  color: #3f3f46;
}

.buyBtnsArea {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.btnProduct {
  font-family: inherit;
  font-weight: 600;
  font-size: 1.3rem;
  border: none;
  width: 17rem;
  height: 4.2rem;
  border-radius: 22px;
  transition: all 0.5s;
  cursor: pointer;
}

.choseProductBtn {
  font-family: inherit;
  font-weight: 600;
  font-size: 1.2rem;
  border: none;
  width: 9.5rem;
  height: 3.2rem;
  border-radius: 22px;
  transition: all 0.5s;
  cursor: pointer;
  color: #fff;
  background-color: #dc2626;
  box-shadow: 0px 8px 18px rgba(215, 101, 120, 0.6);
}

.choseProductBtn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 0 0 6px rgba(18, 18, 18, 0.096),
    0px 8px 18px rgba(215, 101, 120, 0.6);
}

.notActive {
  background-color: #fafafa;
  color: #71717a;
  box-shadow: 0px 8px 18px rgba(48, 45, 46, 0.132);
}

.notActive:hover {
  transform: translateY(-4px);
  background-color: #f4f4f5;
}

.activeBtn {
  color: #fff;
  background-color: #dc2626;
  box-shadow: 0px 8px 18px rgba(186, 21, 49, 0.244);
}

.activeBtn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 0 0 6px rgba(18, 18, 18, 0.096),
    0px 8px 18px rgba(129, 32, 48, 0.274);
}

.productDetailBox {
  border: none;
  margin: 1rem auto;
  background-color: #fff;
  border-collapse: collapse;
  box-shadow: 0px 4px 15px -2px rgba(50, 50, 71, 0.15);
}

th,
td {
  border: 1.5px solid #ededed;
  padding: 1rem;
  text-align: center;
  border-right: none;
  border-bottom: none;
}

.removeUp {
  border-top: none;
}

.feildHeadingArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.productType {
  font-weight: 700;
  font-size: 1.6rem;
  text-align: center;
  color: #e7be32;
}
.productPrice {
  text-align: center;
  font-weight: 700;
  font-size: 1.6rem;
  color: #27272a;
}

.productAboutHeading {
  font-weight: 600;
  font-size: 1.3rem;
  color: #27272a;
  color: #18181b;
  text-align: left !important;
  border-left: none !important;
}

.optionIcon {
  width: 1.5rem !important;
}

/*** Quires **/

@media (max-width: 238em) {
  html {
    font-size: 130%;
  }
}

@media (max-width: 207em) {
  html {
    font-size: 120%;
  }
}

@media (max-width: 188em) {
  html {
    font-size: 105%;
  }
}

@media (max-width: 169em) {
  html {
    font-size: 95%;
  }
}

@media (max-width: 150em) {
  html {
    font-size: 85%;
  }
}

@media (max-width: 132em) {
  html {
    font-size: 75%;
  }
}

@media (min-width: 140em) {
  .svgg {
    width: 2vw !important;
  }

  .listIcon2 {
    width: 3vw;
  }

  .heroText {
    font-size: 1.8rem;
  }

  .section4Heading {
    line-height: 5.5rem;
  }

  .fifthSection {
    min-height: 42vw;
  }

  .secondSection {
    min-height: 40vw;
  }

  .footerIcons {
    width: 1.5vw !important;
  }

  .socialIcon {
    width: 1.5vw !important;
  }
}

@media (max-width: 120em) {
  html {
    font-size: 62.5%;
  }
}

@media (max-width: 91.25em) {
  html {
    font-size: 55%;
  }

  .dotsSVG {
    left: 16%;
    bottom: 25%;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 80.8em) {
  html {
    font-size: 50%;
  }

  .productAboutHeading {
    font-size: 1vw;
  }

  .forthWholeList {
    font-size: 1.3vw;
    line-height: 3rem;
  }

  .svgg {
    width: 2vw !important;
  }

  .heroText {
    font-size: 1.1vw;
  }

  .section2Text {
    font-size: 1.1vw;
  }
  .secListText {
    font-size: 1.1vw;
  }
}

@media (max-width: 74em) {
  html {
    font-size: 45%;
  }

  .footerIcons {
    width: 1.5vw !important;
  }
  .socialIcon {
    width: 1.5vw !important;
  }
}

@media (max-width: 67em) {
  html {
    font-size: 40%;
  }

  .productAboutHeading {
    font-size: 1vw;
  }
}

@media (max-width: 60em) {
  html {
    font-size: 35%;
  }
}

@media (max-width: 54em) {
  html {
    font-size: 33%;
  }
}

@media (max-width: 49em) {
  html {
    font-size: 30%;
  }
}

@media (max-width: 45em) {
  html {
    font-size: 26%;
  }

  .sectionProduct {
    margin-bottom: 7.5rem;
    padding: 6rem 6rem;
  }
}

@media (max-width: 40em) {
  html {
    font-size: 23%;
  }
}

@media (max-width: 35em) {
  html {
    font-size: 20%;
  }
}

/*** Quires Phones start with 512px **/

@media (max-width: 32em) {
  html {
    font-size: 20%;
  }

  .header {
    z-index: 100;
    padding: 0 3.6vw;
    margin-bottom: 4vw;
    min-height: 16.5vw;
  }

  .main-nav {
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    position: absolute;
    visibility: hidden;
    align-items: center;
    pointer-events: none;
    justify-content: center;
    backdrop-filter: blur(10px);
    transform: translateX(100%);
    transition: all 0.5s ease-in;
    background-color: #0e0e0fa8;
    -webkit-backdrop-filter: blur(5px);
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 8vw;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 5vw;
    font-weight: 700;
    font-family: inherit;
  }

  .navLinkPhoneT {
    opacity: 1;
    display: block;
    visibility: visible;
    pointer-events: all;
    font-size: 5vw;
    font-weight: 700;
    font-family: inherit;
    text-decoration: none;
    color: #e4e4e4;
  }

  .navLinkDeskT {
    opacity: 0;
    display: none;
    visibility: hidden;
    pointer-events: none;
  }

  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }

  .movefoterLink {
    transform: translate(0.5vw, -3vw) !important;
  }

  /* MODAL WINDOW */
  .modal {
    max-width: 70vw;
    min-height: 50vw;
    padding: 0vw 35vw;
    gap: 5vw;
    transition: unset !important;
  }

  .modal2 {
    max-width: 50vw;
    min-height: 35vw;
    padding: 0vw 28vw;
    gap: 5vw;
  }

  .headerTwo {
    transform: translate(0vw, -4vw) !important;
    font-size: 4vw !important;
    position: absolute !important;
    margin-bottom: 1rem;
  }

  .btnCloseModals {
    transform: translate(0vw, 8vw);
    transition: unset !important;
    font-size: 3.2vw;
    padding: 1vw 7vw;
  }

  .modal__header {
    position: absolute;
    font-size: 3.2vw;
    line-height: 5vw;
    transform: translate(6vw, -10vw);
  }

  .btn--close-modal {
    top: 1vw;
    right: 2.5vw;
    font-size: 6vw;
    transition: unset !important;
  }

  .PhoneNumInput {
    margin-top: 17vw;
    font-size: 3.5vw;
    padding: 1vw 5vw;
    padding-left: 2vw;
    transition: unset !important;
  }

  .PhoneNumInput::placeholder {
    font-size: 3.4vw !important;
  }

  .btnSendTele {
    font-size: 3.2vw;
    transition: unset !important;
    padding: 1vw 7vw;
  }

  .heroBtnPhone {
    text-decoration: none;
    opacity: 1;
    display: block;
    visibility: visible;
    pointer-events: all;
    width: 90vw;
    height: 14vw;
    border-radius: 40px;
    display: flex;
    font-size: 4.5vw;
    font-family: inherit;
    font-weight: 800;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #fff;
    background-color: #dc2626;
    box-shadow: 0px 8px 18px rgba(48, 45, 46, 0.132);
  }

  .heroBtnOne {
    opacity: 0;
    display: none;
    visibility: hidden;
    pointer-events: none;
  }

  .logoArea {
    gap: 2.5vw;
  }

  .logoSVG {
    width: 7.5vw !important;
  }

  .logoText {
    font-size: 4vw;
  }

  /***/

  .sectionHero {
    padding-top: 20vw;
  }

  .hero {
    padding: 0 4vw;
    position: relative;
    gap: 5vw !important;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr;
  }

  .heroContent {
    gap: 5vw;
    display: flex;
    flex-direction: column;
  }

  .heroHeading {
    font-size: 7.8vw;
    color: #e52323;
  }

  .heroImgBox {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0vw 10vw;
  }

  .heroImg {
    width: 130%;
  }

  .heroText {
    font-size: 3.6vw;
    line-height: 5.5vw;
    color: #1b1b1b;
    font-weight: 500;
  }

  .heroBtnArea {
    width: 120%;
    display: flex;
    position: absolute;
    align-items: center;
    padding-bottom: 6vw;
    gap: 3.4vw !important;
    flex-direction: column;
    transform: translate(-14vw, 129vw);
    background-color: #f7cf47 !important;
  }

  .btn,
  .btn:link,
  .btn:visited {
    width: 90vw;
    height: 14vw;
    border-radius: 40px;
    display: flex;
    font-size: 4.5vw;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .arrowBtn {
    font-size: 8vw;
    margin-left: 2vw;
    margin-bottom: 2vw;
    position: unset;
    transform: unset;
    top: unset;
    right: unset;
  }

  .featuresArea {
    gap: 8vw;
    display: flex;
    flex-direction: column;
    padding: 52vw 0vw 12vw 0vw;
  }

  .wholeFeature {
    gap: 5vw;
    width: unset;
    height: unset;
    align-items: center;
    background-color: #000;
    padding: 0vw !important;
    display: flex !important;
    justify-content: center !important;
  }

  .moveWholeFeature {
    transform: translateX(-6vw);
  }

  .featureTextArea {
    gap: 2.6vw;
  }

  .featureText {
    font-weight: 400;
    font-size: 3.6vw;
  }

  .featureIcon {
    width: 7vw !important;
  }

  .iconBack {
    width: 16.8vw;
    height: 16.8vw;
  }

  .forthSecListWidth1 {
    width: 110% !important;
  }

  .iconBackBack {
    width: 21.5vw;
    height: 21.5vw;
  }

  .secondSection {
    min-height: 50vw;
  }

  .qrImage {
    width: 100%;
  }

  .sectionTwoContent {
    margin-bottom: 0vw !important;
    grid-template-columns: 1fr;
    padding: 0vw 0vw;
    display: grid;
  }

  .wholeTextContet {
    order: 1;
    gap: 5vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 8vw 4vw 8vw 4vw;
  }

  .section2HeadingArea {
    display: flex;
    flex-direction: column;
  }

  .section2Heading {
    width: 100%;
    font-size: 4.5vw;
    line-height: 6vw;
  }

  .section2Text {
    font-size: 3.2vw;
    line-height: 6vw;
    padding-right: 2vw;
  }

  .section2ListArea {
    gap: 3vw;
    width: 95%;
  }

  .SecWholeList {
    display: flex;
    align-items: center;
    gap: 3vw;
    position: relative;
  }

  .secendSecIconMark {
    width: 6vw;
    height: 6vw;
  }

  .secListText {
    font-size: 3.2vw;
    line-height: 6vw;
    margin-left: 7vw;
  }

  /**/

  .thirdSection {
    padding-top: 0vw;
    margin-bottom: 45vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .section3BoxImg {
    padding: 0vw;
  }

  .hotelCard {
    gap: 4vw;
    z-index: 1;
    width: 90vw;
    height: 58vw;
    padding: 10vw 5vw;
    position: absolute;
    padding-bottom: 12vw;
    left: unset !important;
    bottom: unset !important;
    transform: translate(0%, 90%);
  }

  .hotelHeading {
    font-size: 5vw;
    line-height: 7vw;
    padding-right: 15vw;
  }

  .hotelText {
    font-size: 3.8vw;
    line-height: 6.5vw;
  }

  /**/

  .forthSection {
    padding-top: 8vw;
    margin-bottom: 0vw !important;
    background-color: #f5f5fa;
  }

  .section4HeadingArea {
    display: flex;
    padding: 0 4vw;
    margin-bottom: 4vw;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .section4Heading {
    font-size: 5.6vw;
    line-height: 8.5vw;
  }

  .forthSecContent {
    gap: 6vw;
    display: grid;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    grid-template-columns: 1fr;
    padding: 10vw 10vw 8vw 10vw;
    box-shadow: 0px 4px 15px -2px rgba(33, 33, 44, 0.15);
  }

  .boxOne {
    background-color: #f7cf47;
  }

  .boxImg1 {
    padding-right: 0vw !important;
    z-index: 10;
  }

  .img1 {
    width: 100% !important;
  }

  .checkmarkIcons {
    width: 5.2vw;
    height: 5.2vw;
    transform: translateX(-0.3vw);
  }

  .checkmarkIcons2 {
    width: 5.2vw;
    height: 5.2vw;
    transform: translate(-0.3vw, -6vw);
  }

  .checkmarkIconsPhone {
    transform: translateY(-0.2vw);
  }

  /**/

  .box2 {
    gap: 12vw !important;
    grid-template-columns: 1fr;
    background-color: #000;
    padding: 10vw 10vw 8vw 10vw !important;
  }

  .boxImg2 {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
  }

  .img2 {
    display: block;
    opacity: 1;
    visibility: visible;
    width: 120% !important;
  }

  /**/

  .box3 {
    gap: 8vw !important;
    background-color: #fffbea;
    z-index: 10;
  }

  .boxImg3 {
    transform: translateX(-20vw) !important;
  }

  .img3 {
    width: 110% !important;
  }

  /***/

  .box4 {
    gap: 8vw !important;
    background-color: #000;
  }

  .img4 {
    transform: translateX(-8vw);
    width: 110% !important;
  }

  .boxImg4 {
    z-index: 10;
  }

  /**/

  .forthSecImg {
    width: 100%;
  }

  .box2Img {
    order: -1;
  }

  .forthSecTextBox {
    align-items: center;
    justify-content: center;
    gap: 5.5vw;
  }

  .middel {
    justify-content: center;
  }

  .forthBoxHeading {
    font-size: 6vw;
    font-weight: 700;
    text-align: center;
  }

  .forthSecList {
    gap: 5vw !important;
    display: flex;
    margin-left: 1vw;
    align-items: flex-start;
  }

  .forthWholeList {
    font-size: 3.5vw;
    line-height: 5.5vw;
  }

  .bigBoxForth {
    gap: 6vw !important;
  }

  /**/

  .fifthSection {
    margin-top: 5vw;
    min-height: 110vw;
  }

  .fifthContentBox {
    gap: 8vw;
    padding: 7vw 10vw 10vw 10vw;
  }

  .fifthHeadingArea {
    padding-top: 4vw;
  }

  .headingFifth {
    font-size: 6vw;
  }

  .fifthTextArea {
    gap: 2.4vw;
    order: 1;
  }

  .fifthText {
    font-size: 3.6vw;
    line-height: 6vw;
    text-align: left;
  }

  .hideFifthText {
    display: none;
    visibility: none;
    opacity: 0;
  }

  .section5Img {
    width: 110% !important;
  }

  .siteFooter {
    margin-top: 13.5vw;
    gap: 2vw;
    min-height: 40vw;
    justify-content: space-between;
    box-shadow: 0px 5px 15px 9px rgba(0, 0, 0, 0.1);
  }

  .footerContainer {
    gap: 10vw;
    flex-direction: column;
    padding: 8.5vw 4.5vw 8.5vw 6vw;
  }

  .footerLinks {
    row-gap: 3vw;
    column-gap: 5vw;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .logoAreaFooter {
    transform: unset !important;
  }

  .logoTextFooter {
    font-size: 4.5vw;
  }

  .companyInfoBox {
    gap: 3vw;
  }

  .wholeInfo {
    gap: 3.4vw;
  }

  .footerIcons {
    width: 4.2vw !important;
  }

  .infoText {
    font-weight: 400 !important;
    font-size: 3.2vw;
    line-height: 6.4vw;
  }

  .infoTextFooter {
    font-weight: 400 !important;
    font-size: 3.2vw;
    line-height: 5vw;
  }

  .infoTextWidth {
    width: 75%;
  }

  .foterLink {
    font-size: 3.2vw !important;
    font-weight: 300 !important;
  }

  .foterLinkBig {
    font-size: 4vw;
  }

  .copyrightText {
    font-size: 3.4vw;
    font-weight: 400;
    transform: unset;
  }

  .socialIconsBox {
    gap: 4.5vw;
  }

  .socialIcon {
    width: 5vw !important;
  }

  .copyrightFotter {
    gap: 10vw;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 8vw 4vw 12vw 4vw;
    border-top: 2px solid #393939f4;
  }

  /**/
  .sectionProduct {
    opacity: 0;
    display: none;
    visibility: hidden;
    pointer-events: none;
  }

  .sectionProductPhone {
    opacity: 1;
    display: block;
    visibility: visible;
    pointer-events: all;
    padding: 18vw 0vw 10vw 0vw;
  }

  .productHeadingArea {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0vw !important;
  }

  .productHeading {
    font-size: 5.4vw;
    text-align: center;
  }

  .productBuyArea {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transform: unset;
    display: flex;
    gap: 3vw;
    padding-top: 8vw;
    padding-bottom: 6vw;
  }

  .saleText {
    font-weight: 600;
    font-size: 4.2vw;
  }

  .buyBtnsArea {
    justify-content: center;
    gap: 2vw;
  }

  .btnProduct {
    font-weight: 400;
    font-size: 3vw;
    width: 34vw;
    height: 8vw;
  }

  .notActive {
    color: #52525b;
  }

  .activeBtn {
    color: #fff;
    background-color: #2878dc;
  }

  .activeBtn:hover {
    box-shadow: 0 0 0 6px rgba(18, 18, 18, 0.096),
      0px 8px 18px rgba(101, 101, 215, 0.147);
  }

  /**/
  .accordion {
    gap: 6vw;
    z-index: 20;
    display: flex;
    padding: 0vw 6vw;
    align-items: center;
    transition: all 0.5s;
    flex-direction: column;
  }

  .item {
    gap: 8vw;
    z-index: 20;
    width: 100%;
    display: flex;
    padding: 10vw 2vw;
    border-radius: 25px;
    transition: all 0.5s;
    flex-direction: column;
    background-color: #fff;
    justify-content: flex-start;
    box-shadow: 0px 4px 15px -2px rgba(50, 50, 71, 0.15);
  }

  .show-box {
    display: flex;
    align-items: center;
    transition: all 0.5s;
    justify-content: space-between;
  }

  .headingAC {
    font-weight: 700;
    font-size: 3.7vw;
    line-height: 2vw;
    color: #e7be32;
    padding-left: 4vw;
  }

  .priceAC {
    font-weight: 600;
    font-size: 3.8vw;
    color: #1b1b1b;
  }

  .iconAC {
    width: 1.8vw;
  }

  .choseProductBtnArea {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .choseProductBtn {
    margin-top: 2vw;
    width: 100%;
    height: 10vw;
    font-size: 3.6vw;
  }

  .iconNo {
    width: 4vw !important;
    position: absolute;
    transform: translateX(74vw);
  }

  .priceIconArea {
    gap: 5vw;
    display: flex;
    align-items: center;
    padding-right: 3.6vw;
    justify-content: center;
  }

  .hidden-box {
    opacity: 0;
    grid-column: 2;
    display: none;
    visibility: none;
    pointer-events: none;
    transition: all 0.5s;
  }

  .wholeInfoProduct {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4vw 2.5vw 3.5vw 3.2vw;
    border-top: 1px solid #e1e1e1;
    position: relative;
  }

  .InfoText {
    font-weight: 500;
    font-size: 3.4vw;
    line-height: 6.2vw;
    color: #292524;
    width: 80%;
  }

  .infoIcon {
    width: 4.5vw !important;
    position: absolute;
    transform: translateX(74vw);
  }

  .open {
    transition: all 0.5s;
  }

  .open .hidden-box {
    opacity: 1;
    display: block;
    visibility: visible;
    pointer-events: all;
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    gap: 3vw;
  }

  .open .iconAC {
    transform: rotate(270deg);
  }
}
